html, body {
    margin: 0;
    padding: 0;
}
/* Common classess  */
.btn-theme {
    background-color: blue;
    border-radius: 10px;
    color: white;
}


/* Section: main-section -> it has header and main-page section */
.main-section {
    background-image: url('/assets/media/images/header-background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}


/* Section : header  */
.header {
    padding: 40px;
}
.header .logo-container img {
    height: 50px;
    width: auto;
}
.header .logo-name {
    font-size: 32px;
    font-weight: bold;
    color: #3557ff;
}
.header .logo-content {
    font-size: 9px;
    padding-left: 25px;
}
.header .rating-image-container {
    position: relative;
    margin-left: 20px;
}
.header .rating-image-container img {
    width: 130px;
    height: auto;
    position: absolute;
    top: -100px;
    z-index: 1;
}
.header .rating-image-container p {
    position: absolute;
    z-index: 2;
    left: 45px;
    top: 0;
    font-size: 26px;
    font-weight: bold;
}
.header .rating {
    padding-left: 145px;
}
.header .social-media-content {
    font-size: 18px;
    font-weight: bold;
}
.header .social-media-icons>i {
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    color: #3557ff;
}
.header .call-me-back {
    padding: 15px 20px;
}
.header .call-me-back p {
    margin: 0;
    font-size: 20px;
}
.header .address {
    font-size: 15px;
}
.header .phone {
    font-size: 15px
}


/* Section : main-page  */
.main-page .main-page-services {
    padding: 10px;
}
.main-page .main-page-services h1 {
    font-size: 50px;
    line-height: 68px
}
.main-page .main-page-services p {
    margin-top: 30px;
}
.main-page .main-page-services .our-services-btn {
    padding: 15px 60px;
    display: inline-block;
}
.main-page .enquiry {
    padding: 10px 38px;
    background-color: white;
    border-radius: 5px;
}
.main-page .enquiry h1 {
    margin-top: 20px;
}
.main-page .enquiry p {
    margin-top: 15px;
}
.main-page .enquiry .custom-form-control {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212324;
    background-color: rgb(237 237 237);
    background-clip: padding-box;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none
}
.main-page .enquiry button {
    width: 100%;
    padding: 15px 60px;
    display: inline-block;
}
.main-page .main-page-services, .main-page .enquiry {
    margin-bottom: 70px;
    margin-top: 50px;
}