html, body {
    margin: 0;
    padding: 0;
}
/* Common classess  */
.btn-theme {
    background-color: blue;
    border-radius: 10px;
    color: white;
}


/* Section: main-section -> it has header and main-page section */
.main-section {
    background-image: url('../media/images/header-background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}


/* Section : header  */
.header .logo-wrapper {
    margin-top: 50px;
}
.header .logo-img-title::after {
    content: '';
    clear: both;
    display: block;

}
.header .logo-container img {
    height: 50px;
    width: auto;
    float: left;
}
.header .logo-name {
    font-size: 32px;
    font-weight: bold;
    color: #3557ff;
    float: left;
}
.header .logo-content {
    font-size: 9px;
}
.header .rating-wrapper {
    margin-top: 50px;
}
.header .rating-image-container {
    position: relative;
    height: 100px;
    float: left;
    width: 80px;
    margin-top: -52px;
}
.header .rating-image-container img {
    transform: scale(0.5) translate(-100px, -160px);
}
.header .rating-image-container p {
    position: absolute;
    z-index: 2;
    left: 25px;
    top: 50px;
    font-size: 26px;
    font-weight: bold;
}
.header .rating {
    float: left;
}
.header .rating-content {
    font-size: 12px;
}
.header .social-media-content {
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}
.header .social-media-icons>i {
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    color: #3557ff;
}
.header .call-me-back {
    padding: 15px 20px;
    margin-top: 50px;
}
.header .call-me-back p {
    margin: 0;
    font-size: 14px;
}
.header .address {
    font-size: 15px;
    min-width: 150px;
    text-align: right;
    margin-top: 50px;
}
.header .phone {
    font-size: 15px;
    width: 150px;
    text-align: right;
    margin-top: 50px;
}


/* Section : main-page  */
.main-page .main-page-services {
    padding: 10px;
}
.main-page .main-page-services h1 {
    font-size: 50px;
    line-height: 68px
}
.main-page .main-page-services p {
    margin-top: 30px;
}
.main-page .main-page-services .our-services-btn {
    padding: 15px 60px;
    display: inline-block;
}
.main-page .enquiry {
    padding: 10px 38px;
    background-color: white;
    border-radius: 5px;
}
.main-page .enquiry h1 {
    margin-top: 20px;
}
.main-page .enquiry p {
    margin-top: 15px;
}
.main-page .enquiry .custom-form-control {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212324;
    background-color: rgb(237 237 237);
    background-clip: padding-box;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none
}
.main-page .enquiry button {
    width: 100%;
    padding: 15px 60px;
    display: inline-block;
}
.main-page .main-page-services, .main-page .enquiry {
    margin-bottom: 125px;
    margin-top: 50px;
}

/*------ work by steffy side starts-------*/

/* global effects starts */

/* IMPORTANAT EFFECT FOR ALL PAGES[DECLARED AS DATA-1] */

.data-1:hover{
    transform: translateY(-30px);
}

/* global effects end */

/* learn-more-section start */

.learn-more{
    text-align: center;
    padding: 155px 0;
    background-image: url('../media/images/header-background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.learn-more-container {
    margin-top: 60px;
}

/* learn-more image  */
.learn-more-image-container img {
    height: 250px;
    width: 100%;
}

/* learn-more content  */
.learn-more-content {
    padding: 30px 20px;
}

/* learn-more btn  */
.btn-learn-more .btn-theme {
    display: inline-block;
    padding: 10px 15px;   
}
/* learn-more-section end */

/* ------------------------------------------------------------------------------- */

/* all-data-section start */
.all-data{
    background-image: url('../media/images/header-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0 180px 0;
}
.all-data .learn-more-heading {
    margin: 30px 0;
}
.all-data-container {
    margin-top: 30px;
    /* NOTE THIS */
    background-color: rgb(255, 255, 255);
    
}
/* all-data image  */
.all-data-image-container img {
    width: 100%;
    height: 150px;
}

/* all-data content  */
.all-data-content {
    padding: 40px 30px;
    color: rgb(0, 0, 0);
}

/* all-data-section end */

/* Services section start */
.services-section {
    background-image: url('../media/images/header-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px 0 50px 0;
}

.services-section .btn-view {
    text-align: center;
}
.services-section .btn-theme {
    display: inline-block;
    padding: 15px 30px;
}
.service-head-content {
	text-align: center;
	margin-bottom: 40px;
}

/* service image  */
.service-image-container {
	margin-bottom: 40px;
	position: relative;
}
.service-image-container:hover {
	cursor: pointer;
}
.service-image-container img {
	width: 100%;
	height: 250px;
	transition: .5s ease;
}

.service-image-overlay-container {
	background-color: #242222ce;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	height: 250px;
	width: 100%;
}

.service-image-container:hover .service-image {
	opacity: 0.9;
}
.service-image-container:hover .service-image-overlay-container {
	opacity: 0.8;
}
.service-image-overlay-container .overlay-content {
	padding: 80px 40px;
}
.service-image-overlay-container .overlay-content p:nth-child(1) {
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.service-image-overlay-container .overlay-content p:nth-child(2) {
	margin-top: 2px;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	color: white;
}

/* Services section end */

/* footer section start */
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (max-width: 1139px) {
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}

/* footer section end */

/*------ work by steffy side ends-------*/



/* responsive */

@media (max-width: 1199px) { 
    .header .rating {
        margin: 40px auto 0 auto;
        float: none;
        width: 90px;
    }
    .header .rating-image-container {
        float: none;
        margin-top: -52px;
        margin-left: auto;
        margin-right: auto;
        width: 92px;
    }
}

@media (max-width: 991px) {
    .data-1:hover{
        transform: none;
    }
    .header .rating {
        margin: 0;
        float: left;
        width: auto;
    }
    .header .rating-image-container {
        float: left;
        margin-top: -52px;
        margin-left: 0;
        margin-right: 0;
        width: 80px;
    }
    .main-page .main-page-services .our-services-btn {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    .learn-more {
        padding: 70px 0;
    }
    .btn-learn-more .btn-theme {
        margin-top: 10px;
    }

    .learn-more-image-container img {
        height: 150px;
    }

    .all-data-image-container img {
        height: 230px;
    }

    .all-data {
        padding: 70px 0 70px 0;
    }

    .services-section {
        padding: 25px 0 25px 0;
    }
    
    .service-image-overlay-container .overlay-content p:nth-child(1) {
        font-size: 15px;
    }
    
    .service-image-overlay-container .overlay-content p:nth-child(2) {
        margin-top: 1px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 767px) {
    .header .rating-wrapper, .header .social-media-content, .header .social-media-icons, .header .call-me-back, .header .address, .header .phone {
        display: none;
    }
    .navbar-toggler {
        margin-top: 10px;
    }
    .main-page .main-page-services h1 {
        font-size: 40px;
    }
    .main-page .main-page-services, .main-page .enquiry {
        margin-bottom: 40px;
        margin-top: 25px;
        text-align: center;
    }

    .learn-more-image-container img {
        height: 300px;
    }

    .all-data-image-container img {
        height: 300px;
    }

    .service-image-container img {
        height: 300px;
    }    
    .service-image-overlay-container {
        height: 300px;
    }
    .service-image-overlay-container .overlay-content {
        padding: 100px;
    }
    .service-image-overlay-container .overlay-content p:nth-child(1) {
        font-size: 15px;
    }
    .service-image-overlay-container .overlay-content p:nth-child(2) {
        margin-top: 1px;
        font-size: 12px;
        line-height: 15px;
    }
}